---
layout: default
---

<div class="posts">
  {% for page in site.pages reversed %}
  <article class="post">
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <div class="project-content">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description}}</p>
        {% if page.image %}
        <span class="image main">
          <img data-src="{{ page.image }}" alt="" />
        </span>
        {% endif %}
        <span class="read-more">Read more &raquo;</span>
    </div>
    <a href="{{ page.url | prepend: site.baseurl }}" class="link"></a>
  </article>

  {% endfor %}
</div>